[data-component="Global-EcmPromo"] .promo-content .mboxDefault,
[data-component="Global-EcmPromo"] .ecm-content-wrapper .mboxDefault {
    visibility: visible;
    display: block;
}
[data-component="Global-EcmPromo"] .ecm-slideshow .text-overlay p,
[data-component="Global-EcmPromo"] .ecm-slideshow .text-overlay a {
    color: rgb(1, 1, 1);
    font-weight: 300;
    letter-spacing: 0px;
}
[data-component="Global-EcmPromo"] .ecm-slideshow .text-overlay b {
    font-weight: 600;
    letter-spacing: 0.05rem;
}
header .parsys_column {
    border-right-color: rgb(153, 153, 153);
    display: unset;
    place-items: unset;
}
header .parsys_column > * {
    justify-content: unset;
}
.m.ecm-content-slot.mobile-global-ticker-1,
.m.ecm-content-slot.mobile-global-ticker-2,
.m.ecm-content-slot.mobile-global-ticker-3,
.m.ecm-content-slot.mobile-global-ticker-4 {
    margin: 0px;
}
[id="nav-secondary-container"] {
    margin-bottom: 0px;
}
[id="nav-secondary-container"] [id="nav-secondary"] > ul > li {
    margin-right: 1.1875rem;
}
[id="nav-secondary-container"] [id="nav-secondary"] ul {
    max-width: 100%;
}
[id="nav-secondary-container"] [id="nav-secondary"] ul li {
    border-bottom: 2px solid transparent;
}
[id="nav-secondary-container"]
  [id="nav-secondary"]
  ul
  li
  .pop-out-menu.pop-out-menu {
    justify-content: center;
    min-width: 100%;
}
[id="nav-secondary-container"]
  [id="nav-secondary"]
  ul
  li
  .pop-out-menu.pop-out-menu
  a {
    text-decoration: none;
}
[id="nav-secondary-container"]
  [id="nav-secondary"]
  ul
  li
  .pop-out-menu.pop-out-menu
  figure {
    display: flex;
    padding: 0px;
}
[id="nav-secondary-container"]
  [id="nav-secondary"]
  ul
  li
  .pop-out-menu.pop-out-menu
  .spotlight {
    flex: 0 1 auto;
    order: 1;
}
[id="nav-secondary-container"]
  [id="nav-secondary"]
  ul
  li
  .pop-out-menu.pop-out-menu
  .spotlight
  .ecm-content-wrapper
  .parsys_column {
    flex: initial;
}
[id="nav-secondary-container"]
  [id="nav-secondary"]
  ul
  li
  .pop-out-menu.pop-out-menu
  .text.section {
    width: auto;
}
[id="nav-secondary-container"]
  [id="nav-secondary"]
  ul
  li
  .pop-out-menu.pop-out-menu
  .text.section
  h3 {
    font-weight: 600;
}
[id="nav-secondary-container"]
  [id="nav-secondary"]
  ul
  li
  .pop-out-menu.pop-out-menu
  .text.section
  p
  a {
    font-weight: 400;
    text-decoration: underline transparent;
    text-underline-offset: 0.2rem;
}
[id="nav-secondary-container"]
  [id="nav-secondary"]
  ul
  li
  .pop-out-menu.pop-out-menu
  .text.section
  a {
    font-size: 0.6875rem;
    text-decoration: none;
    text-transform: none;
}
[id="nav-secondary-container"]
  [id="nav-secondary"]
  ul
  li
  .pop-out-menu.pop-out-menu
  .col {
    flex: 0 1 11rem;
    order: 2;
}
[id="nav-secondary-container"]
  [id="nav-secondary"]
  ul
  li
  .pop-out-menu.pop-out-menu
  .col
  li {
    border: none;
}
[id="nav-secondary-container"]
  [id="nav-secondary"]
  ul
  li
  .pop-out-menu.pop-out-menu
  .col
  h3,
[id="nav-secondary-container"]
  [id="nav-secondary"]
  ul
  li
  .pop-out-menu.pop-out-menu
  .col
  li {
    font-size: 0.6875rem;
}
[id="top-promo"] {
    display: none;
}
.product-discovery .product-colors ul li .more-colors {
    margin-left: 0.25rem;
    text-underline-offset: 0.1875rem;
}
.product-discovery .product-name {
    display: flex;
    flex-direction: column;
}
.design-chat.design-chat {
    left: inherit;
    right: 1.25rem;
}
* {
    background-repeat: no-repeat;
    margin-block: 0px;
}
body {
    font-family: TT-Norms-Pro, "Open Sans", Helvetica, Arial, sans-serif,
    Helvetica, Arial, sans-serif;
    font-size: inherit;
    color: rgb(1, 1, 1);
    margin: 0px;
    padding: 0px;
    font-weight: 300;
}
ul,
li,
fieldset {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border: none;
}
img {
    text-decoration: none;
    vertical-align: middle;
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
    text-underline-offset: 0.125em;
}
a,
button,
[type="submit"] {
    cursor: pointer;
}
.visually-hidden {
    height: 1px;
    width: 1px;
    text-indent: 1px;
    overflow: hidden;
    position: absolute;
}
.showonfocus {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.hide.hide {
    display: none;
}
.cta.cta {
    background: rgb(1, 1, 1);
    color: rgb(255, 255, 255);
}
dialog {
    width: calc(100vw - 100px);
    max-width: 55.625rem;
    border: none;
}
.modal_component {
    margin: auto;
    position: relative;
}
.modal_component .modalBody {
    padding: 20px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
}
.modal_component .btnClose {
    position: absolute;
    top: -1em;
    right: -1em;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1rem;
    text-indent: -0.25em;
    text-align: center;
    text-transform: lowercase;
    background: rgb(0, 0, 0);
    border: 2px solid;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px 2px;
}
.modal-scroll {
    display: flex;
    margin: auto;
}
.shader {
    z-index: 30;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100vw;
    background-color: rgba(65, 65, 50, 0.5);
    padding-top: 1rem;
}
.responsive-content {
    margin: 0px auto;
}
.responsive-content .mboxDefault {
    visibility: visible;
}
.responsive-content .imagerollover {
    overflow: hidden;
    position: relative;
}
.responsive-content .imagerollover img {
    top: 0px;
    left: 0px;
}
.responsive-content .text-overlay {
    position: absolute;
    box-sizing: border-box;
    min-width: 100px;
}
.spotlight
  .responsive-content
  .ecm-content-wrapper
  .desktop-banners
  > .parsys_column {
    min-width: unset;
}
.responsive-content .hooper-slide {
    flex-shrink: 0;
    height: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.responsive-content .hooper {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 99vw;
    overflow: hidden;
}
.responsive-content .hooper * {
    box-sizing: border-box;
}
.responsive-content .hooper .hooper-slide :not(.text-overlay) {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.responsive-content .hooper.fade .hooper-track {
    transition: none 0s ease 0s !important;
}
.responsive-content .hooper.fade .hooper-slide,
.responsive-content .hooper.fade .hooper-slide.is-next {
    transition: all 1s ease-in-out 0s, width 0s 0s, height 0s 0s;
    opacity: 0 !important;
}
.responsive-content .hooper.fade .hooper-slide.is-active {
    opacity: 1 !important;
}
.responsive-content .hooper-list {
    width: 100%;
    height: 100%;
    max-width: 90vw;
}
.responsive-content .hooper-track {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.responsive-content .hooper-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    border: 0px;
}
.responsive-content .parsys_column {
    border: 0px;
    vertical-align: top;
    padding: 0px;
    margin: 0px auto;
    display: grid;
    gap: 0px;
    position: relative;
}
.responsive-content .parsys_column > .parsys_column {
    margin: 0px;
    display: inline-block;
}
.responsive-content .parsys_column img {
    max-width: 100%;
}
.responsive-content .wsi-colctrl-lt3a {
    grid-template-columns: 1fr 1fr 1fr;
}
.promo .size-two {
    font-size: 0.6875rem;
}
.promo .size-three {
    font-size: 0.75rem;
}
.promo .color-four {
    color: rgb(255, 255, 255);
}
.bg-light-warm-gray {
    background-color: rgb(230, 227, 222);
}
[id="sub-brand-bar"] .separated-lists {
    min-width: 174px;
}
[id="sub-brand-bar"] [id="nav-user-links"] {
    width: 100%;
    justify-content: space-between;
}
header {
    font-size: 0.6875rem;
}
[id="cross-brand-bar"] > *,
[id="sub-brand-bar"] > * {
    display: flex;
    max-width: 1590px;
    margin: auto;
    line-height: 1.4;
    flex-flow: row wrap;
}
[id="cross-brand-bar"] > * {
    justify-content: space-between;
}
[id="sub-brand-bar"] > * {
    justify-content: space-between;
}
[id="nav-secondary"] > .ecm-content-slot > *,
[id="nav-secondary"] > ul {
    justify-content: center;
    text-transform: capitalize;
}
[id="nav-secondary"] > ul {
    margin: 1.125rem auto 0px;
}
.separated-lists {
    max-width: 1590px;
    margin: 0px auto;
    font-family: inherit;
}
.separated-lists > ul > li {
    display: inline-block;
}
.separated-lists > ul > li:not(:hover) ul,
.separated-lists > ul > li:not(:hover) div {
    display: none;
}
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: inherit;
    max-width: 1680px;
    margin: 1.625rem auto 0px;
    padding: 0px;
    position: relative;
}
[id="nav-user-links"] {
    align-items: flex-end;
    align-self: center;
    max-width: none;
    gap: 0px;
    transform: rotate(0deg);
    display: flex;
    justify-content: flex-end;
}
[id="nav-user-links"] > li {
    margin: 0px;
    padding-bottom: 0px;
}
[id="nav-user-links"] > li:last-child {
    margin-right: inherit;
}
[id="nav-user-links"] > li > a {
    text-transform: capitalize;
    font-family: inherit;
    letter-spacing: inherit;
    font-size: 0.6875rem;
    font-weight: 300;
    color: inherit;
    padding: 0px 0px 0.5rem;
    margin-right: 0px;
    border-right: none;
}
[id="nav-user-links"] > li .link-text {
    white-space: nowrap;
    letter-spacing: 0px;
}
[id="nav-user-links"] > li .view-cart span {
    color: inherit;
    font-weight: inherit;
}
[id="nav-user-links"] > li .view-cart .cart-count {
    padding-left: 0px;
}
[id="nav-user-links"] > li.cart-button > a {
    margin-right: inherit;
    padding-right: 0px;
    border: none;
}
[id="nav-user-links"] .icon_svg {
    display: block;
    gap: 2rem;
}
[id="nav-user-links"] .icon_svg svg {
    display: block;
    margin: auto auto 0.2rem;
    padding-bottom: 0px;
}
[id="my-account"] {
    position: relative;
}
[id="my-account"] [id="myaccount-submenu"] {
    width: inherit;
}
[id="myaccount-container"] {
    display: flex;
    flex-direction: row;
    left: initial;
}
[id="myaccount-submenu"] {
    flex: 1 1 0%;
}
[id="myaccount-container"] {
    border-top: transparent;
    box-sizing: border-box;
}
[id="myaccount-submenu"] {
    padding: 0.875rem 1.125rem;
    min-width: 11rem;
}
[id="myaccount-submenu"] .cta {
    margin-bottom: 0px;
    line-height: 3;
}
[id="myaccount-submenu"] li {
    padding: 0px 0px 1rem;
    border: none;
    white-space: nowrap;
    letter-spacing: 0px;
    font-size: 0.8125rem;
    text-align: left;
}
[id="myaccount-submenu"] li:last-child {
    padding: 0px;
}
[id="myaccount-submenu"] a {
    color: rgb(1, 1, 1);
}
[id="myaccount-container"] {
    border-top: 2px solid rgb(1, 1, 1);
    top: 2.1875rem;
    box-shadow: rgba(51, 51, 51, 0.5) 0px 0.125rem 0.25rem 0rem;
}
[id="myaccount-submenu"] a {
    text-transform: inherit;
}
[id="myaccount-submenu"] a:not(.separator-below) {
    color: rgb(83, 83, 83);
    font-weight: 300;
    font-size: 0.8125rem;
}
[id="myaccount-submenu"] a.cta {
    background: none;
    color: rgb(1, 1, 1);
    display: block;
    font-weight: 400;
    font-size: 0.8125rem;
    letter-spacing: inherit;
    line-height: 1.4;
    text-transform: inherit;
    text-align: left;
}
[id="myaccount-submenu"] li.separator-below {
    border-bottom: none;
    margin: 0px;
}
[id="myaccount-submenu"] li.separator-below a {
    text-decoration: none;
    font-size: inherit;
    font-weight: 300;
}
.quickcart {
    text-align: center;
    position: absolute;
    right: 0px;
    padding: 0.5rem 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(51, 51, 51, 0.5) 0px 0.125rem 0.25rem 0rem;
    border-width: 2px 1px 1px;
    border-style: solid;
    border-color: rgb(1, 1, 1) rgb(204, 204, 204) rgb(204, 204, 204);
    border-image: initial;
}
.quickcart [id="quickcart"] {
    text-align: left;
    width: 18rem;
}
.quickcart-loading-placeholder {
    width: 1.875rem;
    height: 1.875rem;
    margin: 2rem auto;
    background-image: url("https://www.williams-sonoma.com/netstorage/images/global-mfe/img/ajax-loader.gif");
}
[id="logo-group"] {
    text-align: center;
    margin: 0px;
    order: 1;
    width: 29.875rem;
    flex: 0 0 auto;
}
[id="logo-group"] svg {
    height: 2.25rem;
    width: 100%;
}
[id="sub-brand-bar"] {
    display: flex;
    position: relative;
    z-index: 4;
    order: 2;
    margin: 0.625rem 0px 0px;
    flex: 0 0 auto;
    justify-content: flex-end;
}
[id="sub-brand-bar"] > * {
    justify-content: space-between;
    padding: 0.3rem 0px 0.3rem 0.5rem;
}
[id="nav-user-links"] {
    align-items: flex-end;
    align-self: center;
    max-width: none;
}
[id="header-search-form"] {
    max-width: 440px;
    margin: 0px 0px 0px 2.8125rem;
    width: 20%;
    height: 1.9rem;
    min-width: 0px;
    flex: 0 0 auto;
}
[id="header-search-form"] form {
    position: relative;
}
[id="header-search-form"] input {
    appearance: none;
    font-family: TT-Norms-Pro, "Open Sans", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 2rem;
    padding: 0px;
    font-size: 0.8125rem;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: transparent transparent rgb(1, 1, 1);
    border-radius: inherit;
    outline: none;
    color: inherit;
    background-color: rgb(255, 255, 255);
    letter-spacing: normal;
}
[id="header-search-form"] [type="submit"] {
    appearance: none;
    border: none;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 1.9rem;
    width: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: inherit;
}
[id="header-search-form"] [type="submit"] svg {
    width: 1.125rem;
    vertical-align: middle;
}
[id="header-search-form"] [type="submit"] svg .search-btn-fill-color {
    fill: rgb(1, 1, 1);
}
[id="header-search-form"] .global-header-search {
    display: block;
    width: 100%;
}
.visual-type-ahead {
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1.5px 2px,
    rgba(0, 0, 0, 0.12) 0px 3.5px 2px;
    display: flex;
    max-height: 36.0625rem;
    position: relative;
    width: 100%;
    z-index: 101;
    flex-direction: column;
    top: 0px;
}
.visual-type-ahead .type-ahead {
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 5px 0px;
    overflow: hidden;
}
.visual-type-ahead .type-ahead > li {
    padding: 0.625rem 0.9375rem;
}
.visual-type-ahead .type-ahead > li a {
    color: inherit;
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 1.54;
}
.visual-type-ahead .query-keyword {
    font-weight: 600;
}
[id="nav-secondary-container"] {
    margin: -1rem 0px 0px;
    min-height: 1.9375rem;
    padding-left: 0px;
    padding-right: 0px;
    max-width: none;
}
[id="cross-brand-bar"] {
    background-color: rgb(255, 255, 255);
    font-size: 0.6875rem;
}
[id="cross-brand-bar"] > * {
    justify-content: space-between;
    padding: 0px;
    align-items: center;
    min-width: inherit;
    flex-flow: inherit;
    min-height: 2.375rem;
    height: 2.375rem;
}
[id="cross-brand-bar"] > div > ul > li > a {
    white-space: nowrap;
    display: inline-block;
}
[id="cross-brand-bar"] a {
    color: rgb(1, 1, 1);
    letter-spacing: 0.0125rem;
    font-family: inherit;
    font-weight: 300;
    padding: 0px;
    line-height: 1.1;
    text-transform: capitalize;
}
[id="cross-brand-bar"] svg {
    vertical-align: middle;
    margin: 0px 0.2rem;
}
[id="cross-brand-bar"] .list-aside-nav {
    align-items: center;
    display: flex;
    height: auto;
    margin-right: 0px;
}
[id="cross-brand-bar"] .list-aside-nav li {
    margin: 0px;
}
[id="cross-brand-bar"] .list-aside-nav li:last-child {
    margin: 0px;
}
[id="cross-brand-bar"] .list-aside-nav li .classes-nav-link,
[id="cross-brand-bar"] .list-aside-nav li .shipping-country-container {
    border-bottom: 1px solid transparent;
    color: inherit;
    font-weight: 300;
    font-size: 0.6875rem;
    padding: 0.3125rem 0.125rem;
    text-transform: inherit;
}
[id="cross-brand-bar"]
  .list-aside-nav
  li
  .shipping-country-container
  .shipping-country-anchor {
    display: inline-block;
    height: auto;
}
[id="cross-brand-bar"] .list-aside-nav #Isolation_Mode {
    height: 0.8125rem;
}
[id="cross-brand-bar"] .list-aside-nav #Isolation_Mode g g path {
    fill: rgb(132, 132, 132);
}
[id="cross-brand-bar"] .list-aside-nav #truck g g g path {
    fill: rgb(132, 132, 132);
}
[id="cross-brand-bar"] .list-aside-nav #truck g g g path:last-of-type {
    stroke: rgb(132, 132, 132);
    fill: rgb(255, 255, 255);
}
[id="cross-brand-bar"] .list-aside-nav #truck g g g circle {
    fill: rgb(132, 132, 132);
    stroke: rgb(255, 255, 255);
}
[id="cross-brand-bar"] .brands-list {
    display: inline-flex;
    justify-content: flex-start;
    width: 56.25%;
    padding: 0px 0.5rem;
}
[id="cross-brand-bar"] .brands-list > li {
    margin-right: 0.5rem;
}
[id="cross-brand-bar"] .brands-list > li:last-child {
    margin-right: 0px;
}
[id="cross-brand-bar"] .separated-lists .aside-container {
    display: flex;
    align-items: center;
}
[id="cross-brand-bar"]
  .separated-lists
  .my-store-component.cross-brand-bar
  .my-store-module {
    padding: 0.305rem 0px;
    height: auto;
    min-width: 0px;
    width: auto;
    margin-right: 0px;
    display: grid;
    grid-template-columns: repeat(2, auto);
}
[id="cross-brand-bar"]
  .separated-lists
  .my-store-component.cross-brand-bar
  .my-store-module
  .module-location-pin {
    background-position: center center;
    background-size: contain;
    width: 0.813rem;
    height: 0.813rem;
    padding: 0px;
    order: 0;
    margin: 0px 0.125rem 0px 0px;
}
[id="cross-brand-bar"]
  .separated-lists
  .my-store-component.cross-brand-bar
  .my-store-module
  .module-details {
    margin: 0px;
    text-align: right;
    width: auto;
    min-width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.6875rem;
}
[id="cross-brand-bar"]
  .separated-lists
  .my-store-component.cross-brand-bar
  .my-store-module
  .module-details
  .store-name {
    font-size: 0.6875rem;
    width: auto;
    padding-bottom: 0px;
    text-align: left;
}
[id="cross-brand-bar"]
  .separated-lists
  .my-store-component.cross-brand-bar
  .my-store-module
  .module-details
  .store-name
  .my-store-header-title,
[id="cross-brand-bar"]
  .separated-lists
  .my-store-component.cross-brand-bar
  .my-store-module
  .module-details
  .store-name
  .store-name-span {
    font-size: 0.6875rem;
    vertical-align: middle;
}
[id="cross-brand-bar"]
  .separated-lists
  .my-store-component.cross-brand-bar
  .my-store-module
  .module-details
  .store-name
  .store-name-span {
    font-weight: 300;
    text-decoration: none;
    line-height: 1.1;
}
header [id="bottom-promo"] {
    max-width: 100%;
}
header [id="bottom-promo"] .promo p,
header [id="bottom-promo"] .promo a {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.18;
    white-space: nowrap;
    overflow: hidden;
}
header [id="bottom-promo"] .promo p b,
header [id="bottom-promo"] .promo a b {
    font-weight: 600;
    font-size: 0.8125rem;
}
.ccpa-opt-out-button-container {
    display: none;
}
.flag {
    display: inline-block;
    position: relative;
    width: 16px;
    margin-right: 1px;
    height: 11px;
    background: url("https://www.williams-sonoma.com/netstorage/images/global-mfe/img/flags_sprite_img.png")
    no-repeat;
}
.flag.flag-us {
    background-position: 0px -154px;
}
[id="top-promo"],
[id="bottom-promo"] {
    max-width: 1590px;
    box-sizing: border-box;
    padding: 0px;
    background-color: rgb(132, 132, 132);
    margin: 0px auto;
    text-align: center;
    height: auto;
    letter-spacing: normal;
}
[id="bottom-promo"] .slideshow {
    display: flex;
    align-items: center;
}
[id="bottom-promo"] .ecm-slideshow,
[id="bottom-promo"] .slideshow {
    height: 2.8125rem;
}
[id="bottom-promo"] .ecm-slideshow a,
[id="bottom-promo"] .slideshow a {
    text-decoration: initial;
}
[id="bottom-promo"] .ecm-slideshow b,
[id="bottom-promo"] .slideshow b {
    text-transform: initial;
}
[id="bottom-promo"] p {
    font-size: 0.75rem;
    text-align: center;
    line-height: 1;
    margin: 0px;
    text-transform: none;
}
[id="bottom-promo"] a {
    text-transform: none;
}
.spotlight {
    vertical-align: top;
    text-transform: none;
    text-align: left;
    flex: 0 0 15.625rem;
    padding: 0.9375rem;
    box-sizing: border-box;
}
.spotlight img {
    padding-bottom: 0.5rem;
    width: 15.625rem;
}
.spotlight .text.section > * {
    margin: 0px 0px 0.5rem;
    max-width: 15.625rem;
}
.spotlight .text.section a {
    text-transform: uppercase;
}
.spotlight .text.section u {
    text-decoration: line-through;
}
.spotlight .text.section p {
    font-size: 0.6875rem;
    padding: 0px;
}
.spotlight .text.section p a {
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
}
.promo {
    background-color: transparent;
    padding: 0px;
    overflow: hidden;
}
.promo p {
    font-size: 0.75rem;
    text-align: center;
}
.promo b {
    text-transform: inherit;
    font-weight: 600;
}
.promo p,
.promo a {
    margin: 0px;
    color: rgb(1, 1, 1);
}
.promo a {
    text-decoration: none;
}
.global-ticker-1 .parsys_column {
    width: 100vw;
    padding: 0px 1%;
}
.global-ticker-1 .parsys_column > .parsys_column {
    width: 100vw;
    max-width: 1440px;
    justify-content: space-around;
    padding: 0px 1%;
    margin: auto;
}
.global-ticker-1 {
    padding-top: 0px;
}
.global-ticker-3 {
    padding-top: 0px;
}
.global-ticker-3 > * > * {
    display: flex;
    place-content: center;
}
.global-ticker-3 .promo-content div {
    max-height: none;
}
header .promo-content img,
header .ecm-content-wrapper img {
    max-width: 100vw;
}
header .promo-content .desktop-banners > .parsys_column,
header .ecm-content-wrapper .desktop-banners > .parsys_column {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    align-items: stretch;
    margin: auto;
}
header .promo-content .desktop-banners > .parsys_column .parsys_column,
header .ecm-content-wrapper .desktop-banners > .parsys_column .parsys_column {
    max-width: 1440px;
    border-right: 1px solid rgb(255, 255, 255);
    text-align: center;
    padding: 0px 1%;
    box-sizing: border-box;
    flex: 1 0 0px;
}
header
  .promo-content
  .desktop-banners
  > .parsys_column
  .parsys_column:last-of-type,
header
  .ecm-content-wrapper
  .desktop-banners
  > .parsys_column
  .parsys_column:last-of-type {
    border-right: none;
}
header .promo-content .desktop-swb,
header .ecm-content-wrapper .desktop-swb {
    justify-content: center;
    padding: 0.75rem 0px;
}
header .promo-content .desktop-swb .parsys_column,
header .ecm-content-wrapper .desktop-swb .parsys_column {
    max-width: 30rem;
    margin: 0px;
}
header .promo-content .desktop-swb .parsys_column p,
header .promo-content .desktop-swb .parsys_column a,
header .ecm-content-wrapper .desktop-swb .parsys_column p,
header .ecm-content-wrapper .desktop-swb .parsys_column a {
    color: rgb(255, 255, 255);
    font-size: 0.8125rem;
    letter-spacing: 0.0625rem;
    line-height: 1.1538;
    -webkit-font-smoothing: antialiased;
}
header .promo-content .desktop-swb .parsys_column a,
header .ecm-content-wrapper .desktop-swb .parsys_column a {
    text-decoration: none;
}
header .promo-content .desktop-swb.light-swb .parsys_column,
header .ecm-content-wrapper .desktop-swb.light-swb .parsys_column {
    border-right: 1px solid rgb(138, 140, 141);
}
header .promo-content .desktop-swb.light-swb .parsys_column:last-of-type,
header .ecm-content-wrapper .desktop-swb.light-swb .parsys_column:last-of-type {
    border-right: none;
}
header .promo-content .desktop-swb.light-swb p,
header .promo-content .desktop-swb.light-swb a,
header .ecm-content-wrapper .desktop-swb.light-swb p,
header .ecm-content-wrapper .desktop-swb.light-swb a {
    color: rgb(1, 1, 1);
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
}
header .promo-content .desktop-swb.light-swb a,
header .ecm-content-wrapper .desktop-swb.light-swb a {
    text-decoration: none;
}
header .spotlight .ecm-content-wrapper .parsys_column .parsys_column {
    border: none;
}
header .parsys_column {
    border-right-color: rgb(153, 153, 153);
    display: flex;
    place-items: center;
}
header .parsys_column > * {
    justify-content: center;
}
.mobile-global-ticker-1,
.mobile-global-ticker-2,
.mobile-global-ticker-3,
.mobile-global-ticker-4 {
    margin-top: 5px;
}
[data-component="Global-EcmPromo"] .slideshow .text-overlay,
[data-component="Global-EcmPromo"] .ecm-slideshow .text-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}
.drawer-component {
    position: absolute;
    inset: 0px;
    z-index: 9;
}
.drawer-component-scrim {
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    inset: 0px;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.drawer-component-close-button {
    position: absolute;
    line-height: 20px;
    display: flex;
    cursor: pointer;
    margin-top: 15px;
    padding: 10px;
    justify-content: center;
    outline: none;
}
.drawer-component-container {
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    position: fixed;
    top: 0px;
    padding: 15px 10px;
    height: calc(100vh - 30px);
    width: 400px;
}
.drawer-component-container[drawer-direction="left"] {
    left: 0px;
    animation-name: leftOpen;
    animation-duration: 0.5s;
}
.drawer-component-container[drawer-direction="right"] {
    right: 0px;
    animation-name: rightOpen;
    animation-duration: 0.5s;
}
.drawer-component {
    position: absolute;
    inset: 0px;
    z-index: 9;
}
.drawer-component-scrim {
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    inset: 0px;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.drawer-component-close-button {
    position: absolute;
    line-height: 20px;
    display: flex;
    cursor: pointer;
    margin-top: 15px;
    padding: 10px;
    justify-content: center;
    outline: none;
}
.drawer-component-container {
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    position: fixed;
    top: 0px;
    padding: 15px 10px;
    height: calc(100vh - 30px);
    width: 400px;
}
.drawer-component-container[drawer-direction="left"] {
    left: 0px;
    animation-name: leftOpen;
    animation-duration: 0.5s;
}
.drawer-component-container[drawer-direction="right"] {
    right: 0px;
    animation-name: rightOpen;
    animation-duration: 0.5s;
}
* {
    margin: 0px;
}
.my-selected-store {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.my-selected-store .my-store-title {
    font-weight: 600;
}
.drawer-component-close-button {
    position: relative;
    float: right;
    top: -20px;
    margin-right: 1rem;
    font-size: 2.1875rem;
    color: rgb(46, 46, 46);
    cursor: pointer;
}
.wrap-my-store-search {
    padding: 0px 10px;
}
.wrap-my-store-search .my-store-search-label {
    font-size: 1rem;
    font-weight: 200;
    color: rgb(46, 46, 46);
    padding: 10px 0px;
}
.wrap-my-store-search .zipcode-search {
    display: flex;
}
.wrap-my-store-search .zipcode-search .wrap-zip-search-button {
    margin-left: 20px;
}
.wrap-my-store-search .zipcode-search .wrap-zip-search-button button {
    background-color: rgb(255, 255, 255);
    width: 110px;
    height: 100%;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 10px;
    border: 1px solid rgb(46, 46, 46);
    text-transform: uppercase;
}
.wrap-my-store-search .zipcode-search .wrap-floating-label {
    position: relative;
    width: 100%;
}
.wrap-my-store-search .zipcode-search .zipcode-search-input {
    outline: none;
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
    height: 2.5rem;
    padding: 15px 10px 0px;
}
.wrap-my-store-search .my-store-search #bingInputGlobal {
    display: none;
}
.no-stores-found {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}
.no-stores-found h1 {
    font-size: 1.1875rem;
    display: inline-block;
}
.no-stores-found .no-store-message-alignment {
    text-align: justify;
}
.no-stores-found .no-store-message-alignment p {
    font-size: 0.875rem;
    margin: 14px;
    text-align: center;
}
.no-stores-found a {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(51, 51, 51);
    font-weight: bold;
    font-size: 0.875rem;
    padding: 14px;
}
.my-store-module {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    flex-direction: row;
    min-width: 200px;
    border: none;
    align-items: center;
    line-height: 1.13;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 40px;
}
.my-store-module .module-location-pin {
    flex: 0 0 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    background-image: url("https://www.potterybarn.com/netstorage/images/global-mfe/img/pb-family.svg");
}
.my-store-module .module-details {
    margin-left: 5px;
    font-size: 0.625rem;
    line-height: 1.2px;
    text-align: left;
    flex: 1 1 0%;
    min-width: 0px;
    margin-right: 20px;
}
.my-store-module .store-name {
    color: rgb(1, 1, 1);
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 9px;
    font-size: 0.625rem;
}
.my-store-module .store-name label {
    flex: 1 1 50px;
    color: rgb(128, 128, 128);
    font-size: 0.68rem;
    font-weight: lighter;
}
.my-store-module .store-name span {
    text-decoration: underline;
    margin-left: 2px;
    font-size: 0.69rem;
    color: rgb(1, 1, 1);
}
.my-store-position {
    display: flex;
    flex: 0 0 25%;
    order: 2;
    align-items: center;
    margin-right: 0px;
    justify-content: flex-end;
}
[id="join-email-campaign"] .stickyHeaderMinimized {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
    z-index: 100;
    font-size: large;
    line-height: 3rem;
    border-top: 1px solid grey;
}
[id="join-email-campaign"] .sticky-header {
    cursor: pointer;
    text-align: center;
}
[id="join-email-campaign"] .sticky-close-button {
    position: absolute;
    right: 0.625rem;
}
[id="join-email-campaign"] {
    font-size: 0.875rem;
}
.flyout .drawer-component-close-button {
    margin-top: 25px;
    position: absolute;
}
.flyout .mobile-back-button {
    display: none;
    appearance: none;
    border: none;
    background: none;
    position: absolute;
    height: 24px;
}
.flyout .flyout-header {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}
.flyout .flyout-header .flyout-title {
    font-weight: 400;
    font-size: 1.375rem;
    margin-bottom: 2.0625rem;
}
.recently-viewed-flyout .flyout {
    z-index: 35;
}
.recently-viewed-flyout .flyout .drawer-component-close-button {
    right: 0px;
    top: 0px;
    margin-top: 1rem;
}
.recently-viewed-flyout
  .recently-viewed-flyout-content
  .rvi-container
  .rvi-mobile-wrapper
  .rvi-list-item {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(240, 240, 240);
}
.recently-viewed-flyout
  .recently-viewed-flyout-content
  .rvi-container
  .rvi-mobile-wrapper
  .rvi-list-item:last-child {
    border-bottom: none;
}
.recently-viewed-flyout
  .recently-viewed-flyout-content
  .rvi-container
  .rvi-mobile-wrapper
  .rvi-list-item
  .product-cell-carousel-container {
    display: flex;
}
.recently-viewed-flyout
  .recently-viewed-flyout-content
  .rvi-container
  .rvi-mobile-wrapper
  .rvi-list-item
  .product-cell-carousel-container
  > * {
    flex-grow: 1;
    flex-basis: 50%;
}
.recently-viewed-flyout
  .recently-viewed-flyout-content
  .rvi-container
  .rvi-mobile-wrapper
  .rvi-list-item
  .product-cell-carousel-container
  .product-info-wrapper {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    padding-left: 1rem;
    justify-content: space-between;
    font-size: 14px;
}
.recently-viewed-flyout
  .recently-viewed-flyout-content
  .rvi-container
  .rvi-mobile-wrapper
  .rvi-list-item
  .product-cell-carousel-container
  .product-info-wrapper
  .see-more-link {
    padding: 0.75rem 0px;
    text-align: left;
    text-transform: uppercase;
}
.recently-viewed-flyout
  .recently-viewed-flyout-content
  .rvi-container
  .rvi-mobile-wrapper
  .best-sellers-message {
    margin-bottom: 1.5rem;
    text-align: center;
    line-height: normal;
    font-weight: 100;
}
.recently-viewed-flyout .flyout-title.best-sellers-title {
    margin-bottom: 0.375rem;
}
[id="nav-user-links"] > li {
    text-align: center;
}
[id="nav-user-links"] a {
    font-weight: 400;
}
[id="nav-user-links"] [href="/registry/?cm_type=gnav"] .icon_svg svg {
    height: 1.3125rem;
    width: 1.0625rem;
}
body > footer > section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
body > footer .footer-menu,
body > footer .social-icons {
    flex: 0 0 14%;
    min-width: 12.875rem;
    margin: 2em 0px;
    padding-right: 1em;
    box-sizing: border-box;
}
body > footer .social-icons {
    flex: 0 0 21rem;
    max-width: unset;
}
body > footer .footer-legal {
    margin: 2em 0px;
    flex: 0 0 340px;
    font-size: 0.7125rem;
}
body > footer .footer-legal a {
    text-decoration: underline;
}
body > footer {
    border-top: none;
    background: rgb(230, 227, 223);
    width: 100%;
    margin: 1.25rem 0px 0px;
    padding: 0px 1.25rem 1.25rem;
    box-sizing: border-box;
}
body > footer > * {
    max-width: 990px;
    margin: auto;
}
body > footer li {
    color: rgb(1, 1, 1);
    font-size: 0.7125rem;
    line-height: 1.1rem;
    padding-bottom: 0.5rem;
    font-family: inherit;
    width: auto;
}
body > footer li:not(:first-of-type) h3 {
    margin-top: 0.625rem;
}
body > footer li > a {
    font-size: inherit;
    font-weight: 300;
    letter-spacing: inherit;
}
body > footer li .footer-feedback {
    margin: unset;
    font-weight: unset;
    color: rgb(1, 1, 1);
    display: inline-block;
}
body > footer h3 {
    margin: 1.5rem 0px 0px;
    font-size: 0.7125rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: inherit;
    color: inherit;
}
body > footer .last-updated {
    color: rgb(1, 1, 1);
}
p.social-icons {
    text-align: left;
    font-size: 0.7125rem;
    display: inline-block;
    margin: 0px 0px 15px;
    text-transform: uppercase;
    font-weight: 600;
}
ul.social-icons-list {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
ul.social-icons-list svg {
    height: 26px;
    width: 26px;
}
footer .social-icons-list a svg path {
    fill: rgb(1, 1, 1);
}
body > footer .social-icons form {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(102, 102, 102);
    min-width: 270px;
    width: auto;
    height: inherit;
    margin-bottom: 12px;
    justify-content: space-between;
    padding: inherit;
}
body > footer form [type="email"] {
    border: none;
    padding: 0.625rem;
    width: 80%;
    font-size: 0.875rem;
    font-style: inherit;
    font-family: Arial;
}
body > footer form .footer-signup {
    display: flex;
    height: inherit;
    justify-content: space-between;
}
body > footer form .submit {
    color: rgb(255, 255, 255);
    white-space: nowrap;
    border: none;
    background: url("https://www.williams-sonoma.com/netstorage/images/global-mfe/img/we/transparent.png")
    0px 0px repeat rgb(1, 1, 1);
    font-size: 0.875rem;
    line-height: 2.5;
    padding: 0px 0.75em;
    text-transform: uppercase;
}
body > footer [id="footer-email-sign-up"] {
    margin-bottom: 20px;
}
body > footer [id="footer-email-sign-up"] .footer-email-sign-up-text {
    font-size: 0.7125rem;
    font-family: inherit;
    margin: 1.5rem 0px;
    font-weight: inherit;
    width: auto;
}
.copyright {
    border-top: none;
    padding: 0px 0px 1.25rem;
    font-size: 0.625rem;
    text-align: left;
}
.copyright li > a {
    font-family: TT-Norms-Pro, "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 0.625rem;
    line-height: 1.537em;
    letter-spacing: 0.5px;
}
.copyright li {
    display: inline;
    color: rgb(0, 0, 0);
    font-size: inherit;
    text-transform: inherit;
}
.copyright li > a {
    width: 250px;
    margin-bottom: 15px;
    margin-left: 0px;
    color: inherit;
    text-decoration: none;
}
.financial-incentive-terms-container {
    font-size: 0.7125rem;
    min-width: auto;
    display: block;
    font-family: inherit;
    color: inherit;
}
.financial-incentive-terms-container a {
    color: inherit;
    text-decoration: underline;
}
footer .financial-incentive-terms-container {
    margin-bottom: 20px;
}
.shipping-country-container .shipping-country-anchor {
    margin: 0px;
}
.shipping-country-container .shipping-country-anchor .flag {
    bottom: 1.25px;
    margin: 0px;
    position: relative;
    vertical-align: middle;
}
.shader {
    overflow: scroll;
}
.shader .modal-scroll dialog[open] {
    padding: 0px 2.1875rem;
}
.shader .modal_component .modalBody {
    max-height: unset;
    overflow-y: unset;
}
.ShippingSelectorContent {
    font-size: 0.6875rem;
    text-align: center;
}
.drawer-component {
    position: absolute;
    inset: 0px;
    z-index: 9;
}
.drawer-component-scrim {
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    inset: 0px;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.drawer-component-close-button {
    position: absolute;
    line-height: 20px;
    display: flex;
    cursor: pointer;
    margin-top: 15px;
    padding: 10px;
    justify-content: center;
    outline: none;
}
.drawer-component-container {
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    position: fixed;
    top: 0px;
    padding: 15px 10px;
    height: calc(100vh - 30px);
    width: 400px;
}
.drawer-component-container[drawer-direction="left"] {
    left: 0px;
    animation-name: leftOpen;
    animation-duration: 0.5s;
}
.drawer-component-container[drawer-direction="right"] {
    right: 0px;
    animation-name: rightOpen;
    animation-duration: 0.5s;
}
.drawer-component {
    position: absolute;
    inset: 0px;
    z-index: 9;
}
.drawer-component-scrim {
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    inset: 0px;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.drawer-component-close-button {
    position: absolute;
    line-height: 20px;
    display: flex;
    cursor: pointer;
    margin-top: 15px;
    padding: 10px;
    justify-content: center;
    outline: none;
}
.drawer-component-container {
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    position: fixed;
    top: 0px;
    padding: 15px 10px;
    height: calc(100vh - 30px);
    width: 400px;
}
.drawer-component-container[drawer-direction="left"] {
    left: 0px;
    animation-name: leftOpen;
    animation-duration: 0.5s;
}
.drawer-component-container[drawer-direction="right"] {
    right: 0px;
    animation-name: rightOpen;
    animation-duration: 0.5s;
}
* {
    margin: 0px;
}
.my-selected-store {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.my-selected-store .my-store-title {
    font-weight: 600;
}
.drawer-component-close-button {
    position: relative;
    float: right;
    top: -20px;
    margin-right: 1rem;
    font-size: 2.1875rem;
    color: rgb(46, 46, 46);
    cursor: pointer;
}
.wrap-my-store-search {
    padding: 0px 10px;
}
.wrap-my-store-search .my-store-search-label {
    font-size: 1rem;
    font-weight: 200;
    color: rgb(46, 46, 46);
    padding: 10px 0px;
}
.wrap-my-store-search .zipcode-search {
    display: flex;
}
.wrap-my-store-search .zipcode-search .wrap-zip-search-button {
    margin-left: 20px;
}
.wrap-my-store-search .zipcode-search .wrap-zip-search-button button {
    background-color: rgb(255, 255, 255);
    width: 110px;
    height: 100%;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 10px;
    border: 1px solid rgb(46, 46, 46);
    text-transform: uppercase;
}
.wrap-my-store-search .zipcode-search .wrap-floating-label {
    position: relative;
    width: 100%;
}
.wrap-my-store-search .zipcode-search .zipcode-search-input {
    outline: none;
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
    height: 2.5rem;
    padding: 15px 10px 0px;
}
.wrap-my-store-search .my-store-search #bingInputGlobal {
    display: none;
}
.no-stores-found {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}
.no-stores-found h1 {
    font-size: 1.1875rem;
    display: inline-block;
}
.no-stores-found .no-store-message-alignment {
    text-align: justify;
}
.no-stores-found .no-store-message-alignment p {
    font-size: 0.875rem;
    margin: 14px;
    text-align: center;
}
.no-stores-found a {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(51, 51, 51);
    font-weight: bold;
    font-size: 0.875rem;
    padding: 14px;
}
.my-store-module {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-family: inherit;
    display: flex;
    flex-direction: row;
    min-width: 200px;
    border: none;
    align-items: center;
    line-height: 1.13;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 40px;
}
.my-store-module .module-location-pin {
    flex: 0 0 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    background-image: url("https://www.potterybarn.com/netstorage/images/global-mfe/img/pb-family.svg");
}
.my-store-module .module-details {
    margin-left: 5px;
    font-size: 0.625rem;
    line-height: 1.2px;
    text-align: left;
    flex: 1 1 0%;
    min-width: 0px;
    margin-right: 20px;
}
.my-store-module .store-name {
    color: rgb(1, 1, 1);
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 9px;
    font-size: 0.625rem;
}
.my-store-module .store-name label {
    flex: 1 1 50px;
    color: rgb(128, 128, 128);
    font-size: 0.68rem;
    font-weight: lighter;
}
.my-store-module .store-name span {
    text-decoration: underline;
    margin-left: 2px;
    font-size: 0.69rem;
    color: rgb(1, 1, 1);
}
.my-store-position {
    display: flex;
    flex: 0 0 25%;
    order: 2;
    align-items: center;
    margin-right: 0px;
    justify-content: flex-end;
}
.my-store-header-title {
    display: none;
}
[id="join-email-campaign"] .shader {
    overflow: auto;
}
[id="join-email-campaign"] .shader dialog[open] {
    padding: 0px;
    width: 57.625rem;
    max-width: 57.625rem;
}
[id="join-email-campaign"] .btnClose {
    display: none;
}
[id="join-email-campaign"] .modal_component .modalBody {
    padding: 0px;
    max-height: 40.0625rem;
    overflow: hidden;
}
[id="join-email-campaign"] .email-overlay-hero {
    display: flex;
    padding-left: 32.875rem;
    padding-right: 1rem;
    flex-direction: column;
}
[id="join-email-campaign"] .email-campaign-wrapper {
    height: 40rem;
    background-color: rgb(255, 255, 255);
    text-align: left;
}
[id="join-email-campaign"] .pb-logo svg {
    width: 17.5rem;
    height: 1.25rem;
    padding: 3.9375rem 0px 2.5rem;
}
[id="join-email-campaign"] .email-campaign-header {
    padding-left: 32.875rem;
}
[id="join-email-campaign"] .email-campaign-header p {
    font-size: 1.4375rem;
    font-weight: 400;
    letter-spacing: 0.03125rem;
    line-height: 1.75rem;
    margin-bottom: 1.625rem;
    width: 21.25rem;
}
[id="join-email-campaign"] h2 {
    font-size: 1.0625rem;
    font-weight: 400;
    margin-bottom: 1rem;
    letter-spacing: 0.03125rem;
    line-height: 1.22;
}
[id="join-email-campaign"] #emailAddr {
    border: 1px solid rgb(221, 221, 221);
    height: 2.4375rem;
    line-height: 1;
    letter-spacing: 0.0625rem;
    font-size: 0.75rem;
    padding: 0px 0.625rem;
    width: 18.75rem;
    color: rgb(1, 1, 1);
}
[id="join-email-campaign"] .phone-number {
    border: 1px solid rgb(221, 221, 221);
    height: 2.4375rem;
    line-height: 1;
    letter-spacing: 0.0625rem;
    font-size: 0.75rem;
    width: 18.75rem;
    margin-top: 0.625rem;
    padding: 0px 0.625rem;
    color: rgb(1, 1, 1);
}
[id="join-email-campaign"] .sms-opt-in-checkbox {
    display: flex;
    position: relative;
    min-width: 25px;
    top: 20px;
}
[id="join-email-campaign"] .sms-opt-in-checkbox label {
    position: relative;
    text-transform: initial;
    letter-spacing: normal;
    top: 3px;
}
[id="join-email-campaign"] .sms-opt-in-checkbox .sms-opt-in {
    width: auto;
    opacity: 0;
    position: absolute;
}
[id="join-email-campaign"] .sms-opt-in-checkbox .notification-text {
    font-size: 0.625rem;
    line-height: 0.6875rem;
    padding: 0px 0px 0px 1.875rem;
}
[id="join-email-campaign"] .the-key-loyalty-program {
    margin: 1.625rem 1.625rem 0px 1.875rem;
    font-size: 0.625rem;
    line-height: 0.6875rem;
}
[id="join-email-campaign"] .the-key-loyalty-program a {
    text-decoration: underline;
}
[id="join-email-campaign"] .email-campaign-form-bottom {
    margin-top: 2.5625rem;
}
[id="join-email-campaign"] #joinNowImg {
    background: url("https://assets.pbimgs.com/pbimgs/ab/images/dp/ecm/202116/0590/001/001.png");
    width: 9.625rem;
    height: 2.625rem;
    border: none;
}
[id="join-email-campaign"] .no-thanks {
    margin: 0.75rem 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    text-decoration: underline;
}
[id="join-email-campaign"] .no-thanks a {
    color: rgb(85, 85, 85);
}
[id="join-email-campaign"] .financial-incentive-terms-container {
    position: absolute;
    bottom: 12px;
    margin-right: 18px;
    font-size: 0.625rem;
    line-height: 0.75rem;
}
[id="join-email-campaign"] .financial-incentive-terms-container a {
    text-decoration: underline;
    color: rgb(85, 85, 85);
}
[id="join-email-campaign"] .stickyOverlayMinimizeButton {
    background: url("https://www.potterybarn.com/netstorage/images/global-mfe/img/pb/close-x.png")
    no-repeat;
    top: 0.9375rem;
    right: 0.9375rem;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    border: none;
    color: transparent;
    box-shadow: none;
}
[id="additional-options"] {
    background-position: center 3.125rem;
    padding-top: 10.125rem;
}
[id="additional-options"] .moreOptionsFormWrapper a {
    text-decoration: underline;
}
[id="additional-options"] .moreOptionsFormWrapper p {
    font-size: 1.0625rem;
    text-align: center;
}
[id="additional-options"] h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0px;
    text-align: center;
}
[id="additional-options"] h2 span {
    display: block;
}
[id="additional-options"] .email-signup-intro {
    padding-bottom: 1.875rem;
}
[id="additional-options"] ul {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    justify-content: space-between;
    padding: 0.625rem 25% 0px;
}
[id="additional-options"] li {
    width: 50%;
    display: flex;
    flex-direction: row;
    font-size: 0.9375rem;
    align-items: center;
    padding-bottom: 2px;
}
[id="additional-options"] .actions,
[id="additional-options"] button {
    padding: 0px 42%;
    width: 8.75rem;
    height: 2.5625rem;
    border: none;
    white-space: nowrap;
    overflow: hidden;
}
[id="additional-options"] .email-campaign-submit-button {
    background: url("https://www.potterybarn.com/netstorage/images/global-mfe/img/pb/btn_submit.png");
    width: 8.75rem;
    text-indent: 8.75rem;
}
[id="additional-options"] a {
    text-decoration: underline;
}
[id="additional-options"] .selectBrand {
    padding-bottom: 2.25rem;
}
[id="additional-options"] .visit-other-brands {
    margin: 1.25rem 0px;
    font-size: 1rem;
    text-align: center;
}
[id="additional-options"] .visit-other-brands a {
    font-weight: bold;
}
[id="additional-options"] .continue-shopping {
    padding: 1.5rem 36%;
}
[id="additional-options"] .Prettycheckbox {
    margin-right: 0.375rem;
}
[id="join-email-campaign"] {
    position: fixed;
    z-index: 102;
    bottom: 1.25rem;
    left: 5vw;
}
