body {
  width: 100%;
  margin: 0;
  font-family: TT-Norms-Pro, "Open Sans", Helvetica, Arial, sans-serif;
}

#cross_brand {
  margin: 8px 15px;
  height: 20px;
}

.pb-family {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.nostyle {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}
ul {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}
.nostyle li:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.pb-family-right {
  flex: 3;
  padding-left: 5%;
}
.pb-family-left {
  flex: 7;
}
#search-logo-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  padding:15px;
}
.user-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 3;
}
#icon-pb {
  flex: 4;
  font-family: TT-Norms-Pro, "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  height: 2.25rem;
  font-weight: 300;
  line-height: 10px;
  letter-spacing:14px;
  /* line-height: 16.5px; */
  tab-size: 4;
}
#search-field {
  flex: 3;
}
.separated-list {
  display: flex;
}
.nav-secondary {
  display: flex;
  margin: 0 24%;
  justify-content: space-between;
}
#footer-section {
  font-weight: 300;
  line-height: 28px;
  color: #010101;
  font-size: 12px;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
}
body > footer {
  width: 100%;
  background-color: rgb(229, 227, 222);
  padding-bottom: 20px;
}
body > footer > p {
  font-family: TT-Norms-Pro, "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #010101;
  text-align: center;
}
