#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  min-width: 200px;
  max-width: 50%;
}

#container > div {
  width: 45%;
  margin: 0 2%;
  background-color: whitesmoke;
    height: 100%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  
}

button {
  margin: 1% 0;
}
button:hover {

    background-color:black;
    color:white;
}
h1{
    margin:0 0 10px 0;
}

.nav-secondary ,#header-nav-menu  {
    display: none !important;
}